# LATIHAN 4

In [45]:
import pandas as pd
import numpy as np
data=pd.read_csv("D:\weatherAUS.csv")

In [46]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [47]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [48]:
data['MinTemp'] = data['MinTemp'].fillna(12.194034)
data['MaxTemp'] = data['MaxTemp'].fillna(23.221348)
data['Rainfall'] = data['Rainfall'].fillna(2.360918)
data['Evaporation'] = data['Evaporation'].fillna(5.468232)
data['Sunshine'] = data['Sunshine'].fillna(7.611178)
data['WindGustSpeed'] = data['WindGustSpeed'].fillna(40.035230)
data['WindSpeed9am'] = data['WindSpeed9am'].fillna(14.043426)
data['WindSpeed3pm'] = data['WindSpeed3pm'].fillna(18.662657)
data['Humidity9am'] = data['Humidity9am'].fillna(68.880831)
data['Humidity3pm'] = data['Humidity3pm'].fillna(51.539116)
data['Pressure9am'] = data['Pressure9am'].fillna(1017.64994)
data['Pressure3pm'] = data['Pressure3pm'].fillna(1015.255889)
data['Cloud9am'] = data['Cloud9am'].fillna(4.447461)
data['Cloud3pm'] = data['Cloud3pm'].fillna(4.509930)
data['Temp9am'] = data['Temp9am'].fillna(16.990631)
data['Temp3pm'] = data['Temp3pm'].fillna(21.68339)
data['RISK_MM'] = data['RISK_MM'].fillna(2.360682)



np.sum(data.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [49]:
from scipy.stats import mode

data['WindGustDir'] = data['WindGustDir'].fillna(data['WindGustDir']).dropna().mode()[0]
data['WindDir9am'] = data['WindDir9am'].fillna(data['WindDir9am']).dropna().mode()[0]
data['WindDir3pm'] = data['WindDir3pm'].fillna(data['WindDir3pm']).dropna().mode()[0]
data['RainToday'] = data['RainToday'].fillna(data['RainToday']).dropna().mode()[0]
data['RainTomorrow'] = data['RainTomorrow'].fillna(data['RainTomorrow']).dropna().mode()[0]
np.sum(data.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [50]:
from scipy import stats
z = np.abs(stats.zscore(data._get_numeric_data()))
print(z)
data = data[(z < 3).all(axis=1)]
print(data.shape)

[[1.89446616e-01 4.53363102e-02 2.10071794e-01 ... 1.40531274e-02
  1.70232294e-02 2.81630574e-01]
 [7.53100727e-01 2.65043084e-01 2.81649838e-01 ... 3.24642797e-02
  3.81984953e-01 2.81630574e-01]
 [1.10901004e-01 3.49692010e-01 2.81649838e-01 ... 6.21684770e-01
  2.21401795e-01 2.81630574e-01]
 ...
 [1.06728317e+00 5.18989861e-01 2.81649838e-01 ... 6.96308432e-01
  6.44757395e-01 2.81630574e-01]
 [6.90264238e-01 5.33098016e-01 2.81649838e-01 ... 2.93157570e-01
  6.30158926e-01 2.81630574e-01]
 [4.25083451e-01 3.85515549e-08 2.81649838e-01 ... 3.08663373e-01
  1.14362991e-01 4.56222428e-08]]
(134753, 24)

In [74]:
df=data.drop(columns=['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],axis=1)
df.shape

(134753, 17)

In [75]:
x=df.iloc[0:134753,1:17]
x.tail()

,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
145455,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,0.000000
145456,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,0.000000
145457,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,0.000000
145458,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,0.000000
145459,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,2.360682

In [76]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') #default norm l2, other are l1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
134748,0.016161,0.0,0.003777,0.005257,0.021410,0.008978,0.007597,0.035223,0.016575,0.707627,0.704657,0.003072,0.003115,0.006975,0.015470,0.000000
134749,0.017492,0.0,0.003781,0.005262,0.015211,0.008988,0.006223,0.038718,0.014519,0.707646,0.704603,0.003075,0.003118,0.007536,0.016939,0.000000
134750,0.018639,0.0,0.003789,0.005274,0.025637,0.006236,0.006236,0.036723,0.016629,0.707438,0.704528,0.003082,0.003125,0.008661,0.018084,0.000000
134751,0.018729,0.0,0.003793,0.005279,0.019422,0.009017,0.004856,0.035376,0.016648,0.707105,0.705094,0.002081,0.001387,0.010474,0.018035,0.000000
134752,0.016079,0.0,0.003786,0.005270,0.027722,0.011771,0.011771,0.042931,0.024928,0.706419,0.704826,0.005539,0.005539,0.010386,0.014472,0.001635

In [77]:
#3sigmoid
xsigmoidal=((1-2.718281828**(-xnorm))/(1+2.718281828**(-xnorm)))
xsigmoidal=pd.DataFrame(xsigmoidal)
xsigmoidal.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
134748,0.008080,0.0,0.001888,0.002628,0.010704,0.004489,0.003798,0.017609,0.008287,0.339753,0.338439,0.001536,0.001557,0.003488,0.007735,0.000000
134749,0.008746,0.0,0.001890,0.002631,0.007605,0.004494,0.003111,0.019357,0.007260,0.339761,0.338415,0.001537,0.001559,0.003768,0.008469,0.000000
134750,0.009319,0.0,0.001894,0.002637,0.012818,0.003118,0.003118,0.018359,0.008314,0.339670,0.338382,0.001541,0.001562,0.004331,0.009042,0.000000
134751,0.009364,0.0,0.001897,0.002640,0.009711,0.004509,0.002428,0.017686,0.008324,0.339522,0.338632,0.001040,0.000694,0.005237,0.009017,0.000000
134752,0.008039,0.0,0.001893,0.002635,0.013860,0.005886,0.005886,0.021462,0.012463,0.339219,0.338514,0.002770,0.002770,0.005193,0.007236,0.000817

In [78]:
#decimal scalling
xdecimal=x/(10**3) #rumus asli x/(10**i) , i dapat ditentukan dg bebas
xdecimal=pd.DataFrame(xdecimal)
xdecimal.tail()

,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
145455,0.023400,0.0,0.005468,0.007611,0.031000,0.013,0.011,0.051,0.024,1.0246,1.0203,0.004447,0.00451,0.0101,0.0224,0.000000
145456,0.025300,0.0,0.005468,0.007611,0.022000,0.013,0.009,0.056,0.021,1.0235,1.0191,0.004447,0.00451,0.0109,0.0245,0.000000
145457,0.026900,0.0,0.005468,0.007611,0.037000,0.009,0.009,0.053,0.024,1.0210,1.0168,0.004447,0.00451,0.0125,0.0261,0.000000
145458,0.027000,0.0,0.005468,0.007611,0.028000,0.013,0.007,0.051,0.024,1.0194,1.0165,0.003000,0.00200,0.0151,0.0260,0.000000
145459,0.023221,0.0,0.005468,0.007611,0.040035,0.017,0.017,0.062,0.036,1.0202,1.0179,0.008000,0.00800,0.0150,0.0209,0.002361

In [79]:
#softmax
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x), axis=0)
xsoft=softmax(xnorm)
xsoft=pd.DataFrame(xsoft)
print(xsoft)

              0         1         2         3         4         5         6   \
0       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
1       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
2       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
3       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
4       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
5       0.000007  0.000007  0.000007  0.000007  0.000008  0.000007  0.000007
6       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
7       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
8       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
9       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
10      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
11      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
12      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
13      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
14      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
15      0.000007  0.000008  0.000007  0.000007  0.000008  0.000007  0.000007
16      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
17      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
18      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
19      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
20      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
21      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
22      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
23      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
24      0.000007  0.000007  0.000007  0.000007  0.000008  0.000007  0.000007
25      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
26      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
27      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
28      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
29      0.000007  0.000007  0.000007  0.000007  0.000008  0.000007  0.000007
...          ...       ...       ...       ...       ...       ...       ...
134723  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134724  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134725  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134726  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134727  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134728  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134729  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134730  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134731  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134732  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134733  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134734  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134735  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134736  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134737  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134738  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134739  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134740  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134741  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134742  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134743  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134744  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134745  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134746  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134747  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134748  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134749  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134750  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134751  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134752  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007

              7         8         9         10        11        12        13  \
0       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
1       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
2       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
3       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
4       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
5       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
6       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
7       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
8       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
9       0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
10      0.000008  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
11      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
12      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
13      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
14      0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
15      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
16      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
17      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
18      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
19      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
20      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
21      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
22      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
23      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
24      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
25      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
26      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
27      0.000007  0.000008  0.000007  0.000007  0.000007  0.000007  0.000007
28      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
29      0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
...          ...       ...       ...       ...       ...       ...       ...
134723  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134724  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134725  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134726  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134727  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134728  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134729  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134730  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134731  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134732  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134733  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134734  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134735  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134736  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134737  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134738  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134739  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134740  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134741  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134742  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134743  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134744  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134745  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134746  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134747  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134748  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134749  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134750  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134751  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007
134752  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007  0.000007

              14        15
0       0.000007  0.000007
1       0.000007  0.000007
2       0.000007  0.000007
3       0.000007  0.000007
4       0.000007  0.000007
5       0.000007  0.000007
6       0.000007  0.000007
7       0.000007  0.000007
8       0.000007  0.000007
9       0.000007  0.000007
10      0.000007  0.000007
11      0.000007  0.000007
12      0.000007  0.000007
13      0.000007  0.000007
14      0.000007  0.000008
15      0.000007  0.000007
16      0.000007  0.000007
17      0.000007  0.000007
18      0.000007  0.000007
19      0.000007  0.000007
20      0.000007  0.000007
21      0.000007  0.000007
22      0.000007  0.000007
23      0.000007  0.000007
24      0.000007  0.000007
25      0.000007  0.000007
26      0.000007  0.000007
27      0.000007  0.000007
28      0.000007  0.000007
29      0.000007  0.000007
...          ...       ...
134723  0.000007  0.000007
134724  0.000007  0.000007
134725  0.000007  0.000007
134726  0.000007  0.000007
134727  0.000007  0.000007
134728  0.000007  0.000007
134729  0.000007  0.000007
134730  0.000007  0.000007
134731  0.000007  0.000007
134732  0.000007  0.000007
134733  0.000007  0.000007
134734  0.000007  0.000007
134735  0.000007  0.000007
134736  0.000007  0.000007
134737  0.000007  0.000007
134738  0.000007  0.000007
134739  0.000007  0.000007
134740  0.000007  0.000007
134741  0.000007  0.000007
134742  0.000007  0.000007
134743  0.000007  0.000007
134744  0.000007  0.000007
134745  0.000007  0.000007
134746  0.000007  0.000007
134747  0.000007  0.000007
134748  0.000007  0.000007
134749  0.000007  0.000007
134750  0.000007  0.000007
134751  0.000007  0.000007
134752  0.000007  0.000007

[134753 rows x 16 columns]